@charset "utf-8";
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.site-header{
	height: 100px;
	border-bottom: 2px solid #FF6700;
	background-color: #fff;
	font-size: 12px;
}
.site-header .container{
	height: 74px;
	position: relative;
}
.header-logo{
	width: 93px;
	padding-top: 26px;
	float: left;
}
.header-logo .logo{
	width: 48px;
	height: 48px;
}
.site-header .logo{
	display: block;
	background-color: #FF6700;
	position: relative;
}
.logo .img-home{
	position: absolute;
	top: 0;
	left: -50px;
}
.site-mini-header .topbar-info{
	-float: right;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 30px;
	min-width: 174px;
}
.site-mini-header .user{
	position: relative;
	width: 110px;
	height: 40px;
	display: inline-block;
}
.site-mini-header .user-name{
	display: block;
	width: 120px;
	height: 40px;
	text-align: center;
	z-index: 5;
	line-height: 40px;
	-float: left;
	
}
.site-mini-header .has-more{
	height: 48px;
}
.site-mini-header .header-title{
	float: left;
	margin-top: 26px;
}
.site-mini-header .has-more h2{
	float: left;
	line-height: 48px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: normal;
    color: #424242;
}
.site-mini-header .has-more p{
	float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 15px;
    color: #757575;
}
/*hover color*/
.user-name:hover .name{
	color:#FF6700;
}
.user-name .name{
	color:#757575;
}
.user a.link{
	color:#757575;
}

.topbar-info .sep, .topbar-info .link{
	line-height: 40px;
}
.topbar-info .sep{
	color: #eee;
}
.topbar-info .link{
	padding: 0 5px;
}
/*display*/
.user-menu{
	position: absolute;
	width: 120px;
	top: 40px;
	left: 0px;
	text-align: center;
	background-color: #fff;
	padding: 7px 0;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	display: none;
}
.user-menu a{
	padding: 3px 30px;
	display: block;
	line-height: 25px;
	color: #333;
}
.user-menu li a:hover{
	background-color: #eee;
}
/*----------------------------------------*/
.page-main{
	padding-top: 38px;
	padding-bottom: 38px;
	background: #f5f5f5;
}
.cart-goods-list .list-head{
	height: 70px;
	line-height: 70px;
	padding-right: 26px;
	color: #424242;
	background-color: #fff;
}
/**
 * 
 */
.cart-goods-list .list-head .col{
	float: left;
}
.cart-goods-list .col-check{
	width: 110px;
}
.cart-goods-list .list-head .col-img{
	width: 120px;
}
.cart-goods-list .list-head .col-name{
	width: 380px;
}
.cart-goods-list .col-price{
	width: 75px;
	padding-right: 84px;
	text-align: center;
	color: #424242;
}
.cart-goods-list .col-num{
	width: 150px;
	text-align: center;
	color: #424242;
}
.cart-goods-list .col-total{
	width: 120px;
	padding-right: 81px;
	text-align: right;
}
.cart-goods-list .col-action{
	text-align: center;
	width: 80px;
}
.cart-goods-list .col-check .icon-checkbox{
	display: inline;
	width: 18px;
	height: 18px;
	line-height: 18px;
	margin-left: 24px;
	border: 1px solid #e0e0e0;
	font-size: 20px;
	background-color: #fff;
	text-align: center;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer;
    color: #fff;
    margin-right: 15px;
    outline: none;
}
.cart-goods-list .col-check .icon-checkbox:hover{
	-color: #aaa;
}
/*------------------------------------*/
.cart-goods-list .item-box{
	padding: 15px 26px 15px 0;
	border-top: 1px solid #e0e0e0;
	background-color: #fff;
}
.cart-goods-list .item-table .item-row{
	display: table-row;
}
.cart-goods-list .item-table{
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}
.cart-goods-list .item-table .col{
	display: table-cell;
	vertical-align: middle;
}
.cart-goods-list .col-check{
	width: 100px;
}
.cart-goods-list .item-box .col-img{
	width: 80px;
    height: 80px;
    padding-right: 40px;
    overflow: hidden;
}
.cart-goods-list .col-name a{
	color: #424242;
	font-weight: normal;
}
.cart-goods-list .col-name .name,
.cart-goods-list .col-name .desc{
	width: 380px;
	color: #757575;
	
}
.cart-goods-list .col-name .desc{
	font-size: 12px;
	color: #B0B0B0;
	font-weight: normal;
}
.cart-goods-list .item-box .col-price{
	font-size: 16px;
}
.cart-goods-list .col-num{
	width: 150px;
	text-align: center;
	color: #424242;
}
.change-goods-num{
	width: 148px;
	height: 38px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	text-align: center;
	position: relative;
	-zoom: 1;/*不知道啥意思*/
}
.change-goods-num a{
	float: left;
	width: 38px;
	height: 38px;
	line-height: 38px;
	color: #757575;
	font-size: 20px;
	
}
.change-goods-num input{
	float: left;
	width: 72px;
	height: 38px;
	line-height: 38px;
	border: 0;
	outline: none;
	text-align: center;
	
}
.change-goods-num .msg{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -24px;
	color: #b0b0b0;
	font-size: 12px;
}
.item-box .col-total{
	color: #FF6700;
	font-size: 16px;
}
.cart-goods-list .item-box .col-action a{
	color: #757575;
	display: inline-block;
}
.cart-goods-list .item-box .col-action .del{
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 50%;
	font-size: 16px;
	color: #757575;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
.cart-goods-list .item-box .col-action a:hover{
	background-color: #c33;
	color: #fff;
}
/*-------------------------------------------------------------------结算*/
.cart-bar{
	height: 50px;
    text-align: right;
    background-color: #fff;
    position: relative;
    margin-top: 20px;
	
}
.cart-bar .section-left{
	float: left;
}
.cart-bar .cart-total i{
	color: #FF6700;
}
.cart-bar .back-shopping{
	line-height: 50px;
	margin-left: 32px;
	color:#757575
}
.cart-bar .cart-total{
	margin-left: 16px;
	padding-left: 16px;
	border-left: 1px solid #eee;
    color: #757575;
}
.cart-bar .total-price{
	padding-left: 13px;
    color: #ff6700;
}
.cart-bar .total-price em{
	font-style: normal;
	font-size: 30px;
}
.cart-bar .btn{
	width: 200px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    margin-left: 50px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
}
.btn-primary{
	background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}
/*摸态框*/
.model{
	position: relative;
	/*display: none;*/
}
.model .cover{
	position:fixed;
	top:0;
	left:0;
	opacity:0.6;
	width:100%;
	height:100%;
	background-color:#000;
	display: none;
}
.model .content{
	width: 500px;
	height: 270px;
	position: fixed;
	/*top: 38%;*/
	left: 50%;
	margin-left: -250px;
	margin-top: -135px;
	background-color: #fff;
	top: -38%;
}
.model .title{
	font-size: 30px;
	color: #c33;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 26px;
	color: #aaa;
	position: absolute;
	top: 15px;
	right: 15px;
	border-radius: 50%;
	cursor: pointer;
	
}
.title:hover{
	background-color: #c33;
	color: #fff;
}
.model .content h2{
	width: 500px;
	height: 130px;
	text-align: center;
	margin-top: 60px;
	font-size: 30px;
	font-weight: 400;
}
.model .btn{
	width: 140px;
	height: 40px;
	position: absolute;
	bottom: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: color .5s;
	
}
.model .btn-left{
	background-color: #bbb;
	left: 80px;
}
.model .btn-right{
	background-color: #FF6700;
	right: 80px;
}
.model .btn-right:hover{
	background-color: #EF5B00;
}
.model .btn-left:hover{
	background-color: #aaa;
}
